<h1>Editing negative post</h1>

<%= render "form", negative_post: @negative_post %>

<br>

<div>
  <%= link_to "Show this negative post", @negative_post %> |
  <%= link_to "Back to negative posts", negative_posts_path %>
</div>
